/* *{
    background-color: rgba(226, 223, 214, 1);
}  */

/* .bg-image{
    background-image: url(./Apex\ legends\ background\ image.png);
    height: ;
} */

header {
    background-color:rgba(58, 63, 26, 1) ;
    margin-bottom: 0;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

div{
    background-color: rgba(58, 63, 26, 1);
    margin-bottom: 0;
}

input {
    background-color:rgba(184, 47, 56, 1);
}

/* Color Theme Swatches in RGBA */
.Apex-Legends-1 { color: rgba(184, 47, 56, 1); }
.Apex-Legends-2 { color: rgba(163, 54, 61, 1); }
.Apex-Legends-3 { color: rgba(249, 123, 45, 1); }
.Apex-Legends-4 { color: rgba(226, 223, 214, 1); } /*assigned as background*/
.Apex-Legends-5 { color: rgba(58, 63, 26, 1); }


